<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nitin.thecrazzyprogrammer.genericsexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.ExampleActivity"/>
        <activity android:name=".Activity.ExampleFragmentActivity"/>
        <activity android:name=".Activity.ExampleRecyclerViewActivity"/>
        <activity android:name=".Activity.ExampleTabbedActivity"/>
        <activity android:name=".Activity.ExampleWebViewActivity"/>

        <activity android:name=".Activity.HomeScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
